#root {
  margin: 0 auto;
  padding: 0px;
}


.mainPic{
  background-image: url("https://s3-alpha-sig.figma.com/img/98fb/219f/a11f805aade2224f1d6658764a2395df?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nKx2kWpHDrFvf1gIsCdzjlgHdj-enjUkQpXWQfgoaA~GJ~iD8Y54inQzhHyifkFmdaoZGw75zHxw~91Xie6Apukh4VS77KKz3WRHh60L3QF~aCJZqBaQAmNda-FFTCpEywkrpPp3EjsHzWy3CMiNd1LSYAWOfOvgKKeRKn86E-gy0~NBAvd-yZDq5-sAmfX2vyREPJFfNccJ7Nu6vgqX3ncKhA7emQ3248-p3-3k50oWHfpN~JCCSaugLgh32OamcW0dzVAbRE~5yhpbfl9S1vDAToR20PnF~7vHY9yrEzPiTjH3sUTr5MWdAjkkeCWh-3MWwiXdhALbMx3VG7WAAg__");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: calc(100%) 70%;
  background-attachment: fixed;

}

:root{
  --lightColor : #FFF3E3;
  --darkColor: #B88E2F;
  --hoverColor: #3A3A3A;
  --lightbg: #FCF8F3;


}


.lightColor{
  background-color: var(--lightColor);
}
.lightbg{
  background-color: var(--lightbg);
}
.hoverColor{
  background-color: var(--hoverColor);
}
.darkColor{
  background-color: var(--darkColor);
}
.lightFont{
  color: var(--lightColor);
}
.darkFont{
  color: var(--darkColor);
}
.darkBorder{
  border-color: var(--darkColor);
}

.addToCartBtn{
  opacity: 100%!important;
  background-color: white!important;
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #fff;
  filter: blur(5px) contrast(10) hue-rotate(300deg);
  mix-blend-mode: darken;
}
.loader:before,
.loader:after{ 
  content: "";
  grid-area: 1/1; 
  width: 40px;
  height: 40px;
  background: var(--darkColor);
  animation: l7 2s infinite;
}
.loader:after{ 
  animation-delay: -1s;
}
@keyframes l7{
  0%   {transform: translate(   0,0)}
  25%  {transform: translate(100%,0)}
  50%  {transform: translate(100%,100%)}
  75%  {transform: translate(   0,100%)}
  100% {transform: translate(   0,0)}
}